body {
  background-color: rgba(128, 128, 128, 0.059);
}

.weather-app {
  background-color: white;
  max-width: 600px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 20px;
}
